body {
    background-color: rgb(58, 58, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 209, 209);
}

p {}

h2 {
    text-align: center;
    margin: 30px;
}

.navbar {
    background-color: black;
    width: 100%;
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}

.navbar {
    list-style-type: none;
}

.invisible_text {
    color: rgba(0, 0, 0, 0);
    /* make the text transparent. */
}

.sidebar-nav {
    margin-top: 20px;
    padding: 5;
    list-style: inside;
}

.navbar-item {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar-item {
    display: block;
    margin-top: 10px;
}

.login_para {
    text-align: center;
}

.login_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.create_form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.login_table {
    margin-left: auto;
    margin-right: auto;
}

.submit_button {
    margin: auto;
    display: flex;
    color: rgb(209, 209, 209);
    background-color: rgb(27, 27, 27);
    text-decoration: none;
    border-bottom-style: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

tr.table_row>td {
    text-align: left;
    padding: 4px;
}

.logged_out_text {
    text-align: center;
}

.password_reset_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.password_reset_text {
    text-align: center;
}

tr.password_reset_form_row>td {
    text-align: left;
    padding: 4px;
    margin: auto;
}

pre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group {
    text-align: left;
    display: block;
    margin: 10px 0;
    width: 100%;
}

#form_user_type {
    text-align: left;
}

.playlist_table {
    width: 90%;
}

.playlist_table_row {
    display: grid;
    grid-template-columns: repeat(7, 10fr);
    border-bottom: 1px solid;
}

.playlist_table_head {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.playlist_table_cell {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

audio::webkit-media-controls-panel {
    display: none;
}

.progress-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

#progress-bar {
    position: absolute;
    right: 30%;
    width: 50%;
}

.playlist_head_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: relative;
}

.playlist_head {
    position: absolute;
    right: 30%;
    width: 50%;
}

.playlist_form {
    position: absolute;
    right: 32%;
    top: 50%;
    width: 50%;
    text-align: center;
}

.playlist_form_table {
    margin: auto;
    margin-bottom: 10px;
}

.playlist_form_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: relative;
}

.playlist_delete_form_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.playlist_button_container {
    display: flex;
    margin: 10px;
    position: relative;
}

.playlist_submit_button {
    position: absolute;
    right: 50%;
    margin: auto;
    display: flex;
    color: rgb(209, 209, 209);
    background-color: rgb(27, 27, 27);
}

.ablock {
    display: block;
    width: 75%;
    height: 100px;
    border: none;
    background-color: #019247;
    padding: 14px 28px;
    font-size: 24px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.block {
    display: inline-block;
    border: none;
    background-color: #019247;
    padding: 14px 28px;
    border-radius: 4px;
    width: 37.1%;
    height: 100px;
    font-size: 24px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 50px;
}

.workspace {
    color: white;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 20px;
}

.add-song-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.add-song-form {
    margin-top: 20px;
}

.sform-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

.user_playlists_table {
    width: 90%;
}

.user_playlists_table_row {
    border-bottom: 1px solid;
}

.user_playlists_table_cell {
    text-align: center;
    padding: 10px;
}

.user_playlists_table_row:hover {
    background-color: rgb(19, 19, 19);
    cursor: pointer;
}

.search_bar {
    width: 600px !important;
    background-color: #4CAF50;
    border-color: black;
    border-radius: 5px !important;
    padding: 8px;
}

.search_bar::placeholder {
    color: black;
}

.search-form {
    display: flex;
    align-items: center;
}